@use '../../sass/' as *;

.container {
  @include flex(flex-start, space-evenly);
  width: -webkit-fill-available;
  background-color: $box-bg;
  max-width: $desktop-width;
  border-radius: $border-radius;
  flex-wrap: wrap;
  column-gap: 5%;
  padding: 50px 50px;
  margin: 30px 0px;
  row-gap: 50px;

  @include margin-side-desktop;
  @include tablet {
    @include margin-side-tablet;
  }
  @include mobile {
    @include margin-side-mobile;
  }
}

.banner {
  @include flex(center, center);
  position: relative;
  width: -webkit-fill-available;
  max-width: $desktop-width;
  border-radius: $border-radius;

  img {
    position: relative;
    object-fit: cover;
    width: -webkit-fill-available;
    border-radius: $border-radius;
    min-height: 111px;
  }
  &__filter {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #000000;
    mix-blend-mode: darken;
    opacity: 0.3;
    border-radius: $border-radius;
  }
  &__text {
    color: $text-title-color;
    font-size: 48px;
    position: absolute;

    left: auto;
    right: auto;
    padding: 0px 20px;
  }
  @include margin-side-desktop;
  @include tablet {
    @include margin-side-tablet;
  }
  @include mobile {
    @include margin-side-mobile;
  }
}
