@use '../../sass/' as *;

.container {
  @include flex(flex-start, space-evenly);
  width: -webkit-fill-available;
  background-color: $box-bg;
  max-width: $desktop-width;
  border-radius: $border-radius;
  flex-wrap: wrap;
  column-gap: 5%;
  padding: 50px 50px;
  margin: 30px 0px;
  row-gap: 50px;

  @include margin-side-desktop;
  @include tablet {
    @include margin-side-tablet;
  }
  @include mobile {
    @include margin-side-mobile;
  }
}
