@use '../../sass/' as *;

.navbar {
  width: -webkit-fill-available;
  margin-bottom: $small-margin;
  margin-top: $medium-margin;
  max-width: $desktop-width;

  @include flex(center, space-between);
  @include margin-side-desktop;

  color: $main-color;
  a {
    text-decoration: none;
  }
  a:visited {
    color: $main-color;
    text-decoration: underline;
  }

  &__logo {
    font-size: 64px;
    height: 56x;
  }
  &__list {
    list-style: none;
    @include flex(center, space-between);
    li {
      margin: 10px;
    }
  }

  @include tablet {
    @include margin-side-tablet;
    margin-top: $small-margin;
    &__logo {
      img {
        height: 47px;
      }
    }
  }
  @include mobile {
    @include margin-side-mobile;
    &__logo {
      img {
        height: 47px;
      }
    }
  }
}
