@use '../../sass/' as *;
.carousel {
  @include flex(center, space-between);
  @include maxWidth;
  @include margin-side-desktop;
  position: relative;
  height: 415px;
  &__counter {
    text-align: center;
    z-index: 10;
    position: absolute;
    bottom: 20px;
    width: 100%;
    font-weight: 500;
    color: white;
    font-size: 18px;
    @include mobile {
      display: none;
    }
  }
  &__arrowLeft {
    position: absolute;
    left: 32px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    @include mobile {
      height: 40px;
    }
  }
  &__arrowRight {
    position: absolute;
    right: 32px;
    font-size: 3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    @include mobile {
      height: 40px;
    }
  }
  &__image {
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    border-radius: $border-radius;
  }
  &__slide {
    opacity: 0;
    transition-duration: 1s ease;
    transform: scale(0.8);
    &--active {
      width: 100%;
      height: 100%;
      opacity: 1;
      transition-duration: 1s;
      transform: scale(1);
    }
  }
  @include tablet {
    @include margin-side-tablet;
    margin-top: $small-margin;
  }
  @include mobile {
    @include margin-side-mobile;
    max-height: 225px;
  }
}
