@use '../../sass/' as *;

.footer {
  @include flex(center, center);
  flex-direction: column;
  height: 210px;
  text-align: center;
  width: 100%;
  background-color: black;
  color: white;
  position: floor($number: 0);
  bottom: 0;
  position: absolute;
  &__logo {
    height: 40px;
    margin-bottom: 28px;
    fill: white;
    color: white;
    stroke: none;
  }
}
