@use '../../sass/' as *;

.lodging {
  @include maxWidth;
  @include flex(flex-start, space-between);
  margin-bottom: $small-margin;
  margin-top: 25px;
  flex-wrap: wrap;
  @include margin-side-desktop;
  @include tablet {
    @include margin-side-tablet;
  }
  @include mobile {
    @include margin-side-mobile;
  }

  .sectionOne {
    max-width: 65%;
    @include flex(flex-start, flex-start);
    flex-direction: column;

    font-weight: 500;
    @include mobile {
      max-width: 100%;
    }
    &__title {
      font-size: 36px;
      font-weight: 500;
      @include mobile {
        font-size: 18px;
      }
    }
    &__location {
      font-size: 18px;
      @include mobile {
        font-size: 14px;
      }
    }
    &__tags {
      margin-top: $small-margin;
      @include flex(flex-start, flex-start);

      flex-wrap: wrap;
    }
  }

  .sectionTwo {
    @include flex(flex-end, center);
    flex-direction: column;

    min-width: 165px;

    @include mobile {
      max-width: none;
      width: 100%;
      flex-direction: row-reverse;
      @include flex(center, space-between);
    }
    .profile {
      @include flex(flex-start, flex-end);

      width: 120px;
      margin-bottom: $small-margin;
      @include mobile {
        width: 120px;
        margin-bottom: 0;
      }

      &__hostName {
        text-align: right;
        margin-right: 10px;
        font-size: 18px;
        @include mobile {
          font-size: 12px;
        }
      }

      &__hostPhoto {
        border-radius: 100%;
        width: 64px;
      }
    }
  }
  .sectionDropdown {
    @include flex(flex-start, space-between);
    flex-wrap: wrap;
    width: 100%;
    @include tablet {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    @include mobile {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
